# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
*.gitignore

# Ignore virtual environments
venv/
.env/

# Ignore IDE/editor config files
.vscode/
.idea/

# Ignore log and temp files
*.log
*.tmp
